allow platform_app self:netlink_kobject_uevent_socket { create bind setopt read };
allow platform_app system_data_file:dir { read open };
allow platform_app sysfs_usb_supply:dir search;
allow platform_app device:chr_file getattr;

allow platform_app sysfs_greybus:file { read write open getattr };
allow platform_app sysfs_greybus:dir { read search open };
allow platform_app sysfs_greybus:lnk_file { read getattr };
allow platform_app input_device:dir search;
